<!DOCTYPE HTML>
<html xmlns="http://wwww.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
	<title>My Journey With Cloud Development</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="http://getbootstrap.com/assets/css/docs.min.css" th:href="@{/resources/css/docs.min.css}" rel="stylesheet"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
	
</head>
	<body>
		<div class="container bs-docs-conatiner">
			<div class="row">
				<div class="col-md-9">
					<h2>Fly Through The Cloud</h2>
					<p>Hi, My Name is Lyle - I'm a developer that spends most if his working day coding legacy enterprise systems.</p>
					<p>I'm interested in working with a more up to date technology stack. So this is me exploring some of the technologies that are available to the modern developer. </p>
					<p>Oh and I don't intend paying for anything. Also I'm the type of person that get's distracted by other stuff - family, work, sport etc - so don't be surprised if I disappear for a while.</p>
					<div class="bs-docs-section">
						<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body"> 
							<h4>Amazon Web Services</h4>
							<p>I'm no expert - in fact I'm pretty much finding things out as I go along. But from what I can see AWS has the most comprehensive offering in terms of Cloud computing. Also there is a decent amount of services available in the free tier. So I'm going to start with that</p>
						</div>
						<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body"> 
							<h4>Spring</h4>
							<p>I was considering going with a pure javascript backend - using the "MEAN" stack for example. I might explore that later but to start with I want to go with a traditional application server architecture running java server side components. I have dabbled with Spring before and in particular Spring boot. I am impressed by the way that everything just seems to work.  </p> 
						</div>
						<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body"> 
							<h4>MySQL</h4>
							<p>Not sure why I need a relational database yet - but MySQL running on AWS is going to be the cheapest and most powerful option available.</p> 
						</div>
						<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body"> 
							<h4>MongoDB</h4>
							<p>Not sure why I need a NoSQL database yet - maybe for a comments section? Also I'm thinking that Amazon S3 can do everything that Mongo can do.</p> 
						</div>
						<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body"> 
							<h4>Thymeleaf</h4>
							<p>This HTML templating engine might be old hat at this stage but it co-operates very well with Spring and has good support for Spring Expression Language. If used propery in should allow me to preview the HTML without booting up the server.</p> 
						</div>
						<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body"> 
							<h4>GITHUB</h4>
							<p>Somewhere handy to store and share my code. The java police will probably have me arrested or maybe no-one will look at it. We'll see! </p> 
						</div>
						<div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body"> 
							<h4>Boxfuse</h4>
							<p>Boxfuse will help with my AWS deployment. Also Boxfuse gives me a static and friendlier domain for my website. I'm doing this on the cheap so the Boxfuse URL is better that the default AWS one. I am thinking that Boxfuse should integrate will well with my dev-ops capability  </p> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>